<ion-view view-title="Nuevo Foto">
  <ion-content class="padding">

    <img ng-show="vm.imgTemp !== undefined" ng-src="{{vm.imgTemp}}" />

    <div class="list card">
      <div class="item item-body">

        <div class="row">
          <p>
            Le quieres dar un nombre a tu nueva foto 0.o
          </p>
        </div>

        <div class="row">
          <label class="item item-input">
            <input type="text" ng-model="vm.form.title" ng-trim="true" placeholder="ej. #casual #hipstercat" />
          </label>
        </div>

        <div class="row">
          <button ng-click="vm.save()"
            class="button button-block button-balanced">
            Guardar
          </button>
        </div>

      </div>
    </div>

  </ion-content>
</ion-view>
