<ion-view view-title="{{vm.album.title}}">
  <ion-content class="padding">

    <!-- IDEA: change angular-carousel por slide de Ionic -->
    <ul rn-carousel=""
        rn-carousel-index="carouselIndex"
        rn-carousel-transition="hexagon"
        rn-carousel-buffered=""
        class="carousel3 ng-scope">

            <li ng-repeat="pic in vm.album.pictures|carouselSlice:carouselBufferIndex:carouselBufferSize track by $index"
                class="ng-scope" >

                <div class="bgimage ng-binding" ng-style="{'background-image': 'url(' + pic.resource + ')'}">
                </div>

                <h2>{{pic.title}}</h2>

            </li>

    </ul>

    <div class="row">
      <button ng-click="vm.getPictures()"
        class="button button-block button-balanced">
        Sube contenido
      </button>
    </div>

    <div class="row">
      <button ng-click="vm.takePicture()"
        class="button button-block button-balanced">
        Toma una foto
      </button>
    </div>

    <!-- XXX: JUST4DEV  preview of picture -->
    <img ng-show="vm.imgURI !== undefined" ng-src="{{vm.imgURI}}" />

  </ion-content>
</ion-view>
