<ion-view view-title="Inicia Sesión">
  <ion-content>

    <form name="formLogin">

      <div class="row">
        <input type="email"
            ng-model="vm.form.email"
            ng-trim="true"
            required
            placeholder="email" />
      </div>

      <div class="row">
        <input type="password"
            ng-model="vm.form.passwd"
            ng-trim="true"
            required
            placeholder="contraseña" />
      </div>

      <div class="row">
        <button ng-click="vm.login(formLogin)"
          class="button button-block button-balanced">
          Listo
        </button>
      </div>

    </form>

  </ion-content>
</ion-view>
