<ion-view view-title="Inicia Sesión">
  <ion-content>

    <fb:login-button show-faces="true" max-rows="1" size="large"></fb:login-button>

    <button ng-click="loginWithMail()"
      class="button button-block button-balanced">
      Inicia sesión con tu eMail
    </button>

    <button ng-click="signUp()"
      class="button button-block button-possitive">
      Registrate
    </button>

    <!--XXX: Just4Dev -->
    <button ng-click="skip()"
      class="button button-block button-dark">
      Skip Login Bitch
    </button>


  </ion-content>
</ion-view>
